[Desktop Entry]
Name[de]=PNMixer
Name[fr]=PNMixer
Name[hr]=PNMikser
Name[nl]=PNMixer
Name[sr]=ПН_мешач
Name[uk]=PNMixer
Name=PNMixer
GenericName[de]=Benachrichtigungsfeld Mixer
GenericName[fr]=Mixeur audio de la zone de notification
GenericName[hr]=Mikser za paletu sustava (System Tray Mixer)
GenericName[nl]=Mixer voor systeemvak
GenericName[ru]=Микшер для панели уведомлений
GenericName[sr]=Мешач системске фиоке
GenericName[uk]=Мікшер у системному лотку
GenericName[vi]=Bộ trộn trên khay hệ thống
GenericName[zh_CN]=系统托盘混频器
GenericName=System Tray Mixer
Comment[de]=Ein Audiomixer für das Benachrichtigungsfeld
Comment[fr]=Un mixeur audio pour la zone de notification
Comment[hr]=Audiomikser za paletu sustava (system tray)
Comment[it]=Un mixer per la system tray.
Comment[nl]=Een geluidsmixer voor het systeemvak
Comment[ru]=Звуковой микшер для панели уведомлений
Comment[sr]=Мешач звука за системску фиоку
Comment[uk]=Звуковий мікшер у системному лотку
Comment[vi]=Một bộ trộn âm dành cho khay hệ thống
Comment[zh_CN]=一个运行在系统托盘上的音频混合器
Comment=An audio mixer for the system tray
# TRANSLATORS: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[de]=Alsa;Audio;Mixer;Sound;Klang;Ton;
Keywords[fr]=alsa;audio;mixer;sound;
Keywords[hr]=alsa;audio;mixer;sound;
Keywords[nl]=alsa;audio;geluid;mixer;sound;volume;
Keywords[sr]=алса;звук;мешач;миксер;аудио;
Keywords[uk]=alsa;audio;mixer;sound;алса;звук;аудіо;мікшер;
Keywords=alsa;audio;mixer;sound;
Exec=pnmixer
TryExec=pnmixer
# TRANSLATORS: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=pnmixer
Terminal=false
Type=Application
Categories=AudioVideo;
